
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class='container-fluid'>
  <div class="card">
      <div class="heading text-center">
          <div class="head1">Why Buy Tickets From Us?</div>
          <p class="bdr"></p>
      </div>
      <div class="card-body">
          <div class="row m-0 pt-5">
              <div class="card col-12 col-md-3">
                  <div class="card-content"> <i class="fa fa-globe fa-3x" aria-hidden="true"></i>
                      <div class="card-title"> BUY BUS TICKETS ANYTIME FROM ANYWHERE </div>
                      <p><small>Buy tickets from anywhere seating at a remote place</small></p>
                      
                  </div>
              </div>
              <div class="card col-12 col-md-3">
                  <div class="card-content"> <i class="fa fa-ticket fa-3x" aria-hidden="true"></i>
                      <div class="card-title"> SHOW TICKETS ONLINE</div>
                      <p><small>PDF will be used as a ticket </small></p>
                      
                  </div>
              </div>
              <div class="card col-12 col-md-3">
                  <div class="card-content"> <i class="fas fa-mobile-alt fa-3x"></i>
                      <div class="card-title"> PAY BY UPI,NET BANKING OR CASH </div>
                      <p><small>Phonepe, GPay, Amazon Pay</small></p>
                      
                  </div>
              </div>
              <div class="card col-12 col-md-3">
                  <div class="card-content"> <i class="fa fa-phone-square fa-3x" aria-hidden="true"></i>
                      <div class="card-title"> DEPENDABLE COUSTOMER SERVICE<br /> 9AM TO 10PM</div>
                      <p><small>Talk to customer services any time</small></p>
                      
                  </div>
              </div>
          </div>
      </div>
      <div class="card-footer row m-0">
        <div class="row">
           <div class="container">
            <div class="col-md-6">
             <ul class="footer-nav">
                
              <li id="rl"><a routerLink="/about"  #rla="routerLinkActive" routerLinkActive="active">About us</a> |
            <a routerLink="/contact">Contact us</a> |
              <a routerLink="/termsconditions">Terms & Conditions</a> |
              <a routerLink="/privacypolicy">Privacy Policy</a>
             </ul>
            </div>
        </div>
        
            <!-- <div>
                <small class="follow-text">
                    <p class="text-center">
                        <a routerLink="/about">About us</a></li>
                    </p>
                </small>
            </div> -->
          <p> <label> <i class="fas fa-phone fa-rotate-90 text-primary"></i> </label> +91-88888-00000</p>
          <div>
            <p><small class="follow-text">FOLLOW US ON SOCIAL MEDIA</small> <label class="footer-right"> <i class="fab fa-instagram"></i> <i class="fab fa-facebook-square"></i> <i class="fab fa-linkedin"></i> <i class="fab fa-twitter-square"></i> </label> </p>
        </div>
        <p class="text-center">Copyright @2021 | Designed With by <a href="#">PocketBusApp</a></p>
      </div>
  </div>
</div>