<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4 border">
                <form #addRoutesForm="ngForm" (ngSubmit)="addRoutes(addRoutesForm)">
                    <legend><b> Routes Information </b></legend>
                    <div class="form-group" style="padding: 10px;">
                        <label for="source"> <b>Source City</b></label>
                        <input ngModel type="text" class="form-control" id="source" name="source">

                    </div>

                    <div class="form-group" >
                        <label for="sourceState"><b>Source State</b></label>
                        <select name="sourceState" id="sourceState" ngModel>
                            <option *ngFor="let item of states" value="{{item.name}}">{{item.name}}</option>
                        </select>
                      </div>
          
                      <div class="form-group" style="padding: 10px;">
                        <label for="source"><b>Destination City</b></label>
                        <input ngModel type="text" class="form-control" id="destination" name="destination">
                      </div>
          
                      <div class="form-group">
                        <label for="destinationState"><b>Destination State</b></label>
                        <select name="destinationState" id="destinationState" ngModel>
                            <option *ngFor="let item of states" value="{{item.name}}">{{item.name}}</option>
                        </select>
                      </div>
                      <div class="form-group" style="padding: 10px;">
                        <button type="submit" class="btn btn-primary">Add Routes</button>
          
                        <button type="button" class="btn btn-dark" style="float: right;"(click)="backHome()">Back to Home</button>
                      </div>
                      <div>
                        <span class="label label-danger">{{message}}</span>
                      </div>
                </form>
            </div>
        </div>
    </div>
</div>